:root{
    --body_clr: rgb(0, 0, 0);
    --header-clr: rgb(209, 67, 171);
    --text-clr: white;
    --image-clr: rgb(33, 10, 26);
    --main-clr: rgb(86, 189, 77);

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    color: var(--text-clr);
    text-decoration: none;
}
li{
    list-style: none;
}

body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: var(--body_clr);
    overflow-x: hidden;
}
header{
    background: var(--header-clr);
    height: 10vh;
    width: 100vw;
}
.header-container{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.logo{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1em;
    width: 40%;
}
.image{
    height: 50px;
    width: 50px;
    background: var(--image-clr);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    transform: rotate(-20deg);
    font-size: .9rem;
    margin-right: .5em;
}
.image:hover{
    transform: rotate(0deg);
    cursor: pointer;
}

.title{
    font-size: clamp(1.2rem, 1vw, 2vw);
    font-weight: 800;
    color: white;
    border-bottom: 2px solid white;
}
.title::after{
    content: "TMW";
    font-size: .4rem;
    position: absolute;
}
.title:hover{
    color: rgb(41, 27, 37);
    transform: rotate(5deg);
    cursor: pointer;
}
.navigation{
    width: 70%;
    height: 100%;
}
.nav{
    /* border: 1px solid green; */
    display: flex;
    height: 100%;
}
.nav li{
    /* border: 1px solid black; */
    margin-right: 1em;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    font-size: clamp(1.2rem, 1vw, 2vw);
}
.nav a:hover{
    text-decoration: underline;
    color: rgb(41, 27, 37);
    
}
.books{
    color: white;
}
.extend, .slide-in{
    color: white;
    margin-left: .5em;
    font-size: 1.2rem;
}
.slide-in{
    display: none;
}
.extend{
    display: none;
}
.books:hover{
    cursor: pointer;
    color: black;
}
.mini-books{
    display: none;
    line-height: 30px;
    position: absolute;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1em;
    transition: .5s ease-in;
    top: -50vh;
    color: black;
    left: 34%;
    z-index: -1;
}
.mini-books a{
    color: black;
}
.mini-books a:hover{
    color: var(--header-clr);
}
.fas{
    display: none;
}
#open-nav{
    display: none;
}
main{
    height: 90vh;
    /* background: url(./images/Gartus-Man-with-book.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
    /* opacity: .5; */
    
}
.main{
    height: 90vh;
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    justify-content: space-between;
    font-size: clamp(1rem, 2vw, 5vw);
}
.main h1{
    color: rgb(255, 91, 247);
}
.main p{
    color: black;
}
.main .button{
    margin-top: 2em;
}
.main a{
    background: var(--header-clr);
    padding: .5em;
    font-size: clamp(1rem, 2rem, 3vw);
    border-radius: 2rem;
    font-weight: 600;
}
.main a:hover{
    color: white;
    background: black;
}
.hero{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* border: 1px solid green; */
}
 main .image{

    height: 100%;
    width: 50%;
    border-radius: 0;
    transform: rotate(0);
    background: none;

}
.image img{
    height: 90%;
    width: 90%;
    display: flex;
    align-items: center;
    /* border: 5px solid green; */
    border-radius: 0;
    transform: rotate(0);
}

.book-container{
    color: white;
    height: 50vh;
    border-top: 2px solid rgb(202, 181, 185);
}
.book-header{
    text-align: center;
    color: rgb(255, 131, 218);
    font-size: 1.2rem;
}
.bookss{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
.story{
    height: 60%;
    width: 10%;
    background: linear-gradient(to bottom,
     var(--header-clr),
      rgb(90, 35, 65),
      rgb(177, 139, 145));
    color: black;
    box-shadow: 0 0 5px 3px rgb(73, 73, 73);
    font-size: .8rem;
    text-align: center;
}
.story img{
    height: 90%;
    width: 100%;
}
.story h3{
    font-size: clamp(.5rem, 1rem, 2vw);
}

.story:hover{
    transform:skewY(5deg);
    transition: transform 500ms ease-in-out;
}
.footer{
    height: 20vh;
    color: white;
    background: var(--header-clr);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-writer{
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
}
.rights{
    font-size: .8rem;
}
/* @media screen and (max-width:850px){
    .hero a{
        margin-top: -2em;
    }

} */
@media screen and (max-width: 768px){
    header{
        position: relative;
        z-index: 1;
    }
    .header-container{
        width: 100vw;
    }
    .logo{
        width: 100%;
    }
    .navigation{
        position: absolute;
        width: 100vw;
        height: 90vh;
        left: -100vw;
        top: 10vh;
        /* border: 1px solid blue; */
        background: var(--header-clr);
        transition: .5s ease-in-out;
        z-index: 1;
    }
    .nav{
        flex-direction: column;
        line-height: 10px;
        /* border: 5px solid green; */
    }
    .nav li{
        /* margin-left: 1em; */
        font-size: 1.2rem;
        /* border: 1px solid black; */
        height: 3rem;
        align-items: flex-start;
        padding: 1em;
    }
    .nav .books{
        /* border: 1px solid yellow; */
        height: 12rem;
    }
    .title{
        font-size: 1rem;
    }
    .bookss{
        flex-direction: column;
    }
    .mini-books{
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: -2.5em;
        left: 0;
        top: 10vh;
        height: 12rem;
        z-index: 1;
        width: 10rem;
        background: none;
        padding: 0px;
        /* border: 1px solid green; */
    }
    .mini-books a:hover{
        color: white;
        text-decoration: none;
    }
    .mini-books li{
        font-size: 1rem;
        height: 30px;
  
        padding: 0;
    }
    .mini-books li:first-child{
        height: 30px;
    }
    .mini-books a{
        /* border-bottom: 3px solid white; */
        width: 100px;
        display: flex;
        margin-left: 2em;
        justify-content: flex-start;
    }
    .fas{
        font-size: 2rem;
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        color: white;
        display: block;
        height: 100%;
        display: flex;
    }
    .fa-window-close{
        display: none;
    }
    #open-nav{
        display: block;
    }
    .main{
        flex-direction: column-reverse;
        align-items: center;
        width: 100vw;
    }
    .hero{
        width: 100%;
    }
    .main .image{
        width: 100%;
        height: 50%;
    }
    .image img{
        width: 1000px;
        z-index: -1;
    }

}

